.box {
	width: 400px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	-moz-box-shadow: 1px 1px 2px #CFCFCF;
	-webkit-box-shadow: 1px 1px 2px #CFCFCF;
	box-shadow: 1px 1px 2px #CFCFCF;
}

.box .header {
	height: 18px;
	background-color: #1375CF;
	border: 1px solid #325a71;
	border-bottom: 1px solid #183c51;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	padding: 4px 7px;
	text-shadow: 0 0 1px #000000;
}

.box .body {
	border: 1px solid #909090;
	border-top:none;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #333333;
	font-size:12px;
	padding:10px;
}

.box .footer {
	height: 40px;
	background-color: #e3e3e3;
	border: 1px solid #909090;
	border-top:none;
/*	border-top: 1px solid #bfbfbf;	*/
}

