button.@element {
	padding: 4px 10px;
/*	-webkit-border-radius: 2px 2px;*/
	border: solid 1px rgb(153, 153, 153);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
	color: @color;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	line-height: 1;
	font-weight:bold;
	font-size: 13px;
}

/* Remove the outline */
button.@element::-moz-focus-inner { border: 0; }