.box .header {
	background-color: #C0C0C0;
	height: 26px;
	color: white;
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-size:1.2em;
	padding-top:4px;
	margin-left:-7px;
	margin-right:-7px;
	margin-bottom:7px;
}

